.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.stell {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

header.cabecalho {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 25px;
}

header.cabecalho button.alterar-tema {
    border: none;
    background: transparent;
    transition: all .8s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

header.cabecalho button.alterar-tema:hover {
    transform: scale(1.10);
    cursor: pointer;
}

header.cabecalho button.alterar-tema img {
    width: 2.3rem;
}

header.cabecalho a img {
    width: 150px;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.pagination #loadingMoreButton {
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    padding: .28rem .8rem;
    font-size: .9rem;
    cursor: pointer;
    transition: all .5s ease;
}

.pagination #loadingMoreButton:hover {
    transform: scale(1.2);
}

ol.pokemons {
    padding: 0;
    margin: 0;
    list-style: none;

    display: grid;
    grid-template-columns: 1fr;
}

ol.pokemons li {
    margin: .4rem;
    padding: .8rem;
    border-radius: 1rem;
    color: #fff;
    display: flex;
    flex-direction: column;
}

span.number {
    text-align: right;
    color: #000;
    opacity: .4;
}

span.name {
    margin-bottom: 8px;
    text-transform: capitalize;
}

ol.pokemons li img {
    max-width: 100%;
    width: 73px;
    align-self: flex-end;
}

ol.pokemons .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

ol.types {
    padding: 0;
    list-style: none;
}

ol.types li {
    text-align: center;
    padding: 0;
    border-radius: .55rem;
    margin: 7px 0;
    font-size: .68rem;
    color: #fff;
    padding: .3rem;
    text-align: center;
    filter: drop-shadow(1px 2px 2px black);

}

@media screen and (min-width: 380px) {
    ol.pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    ol.pokemons {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px) {
    ol.pokemons {
        grid-template-columns: repeat(4, 1fr);
    }
}